
#abaPayment{
    display: none;
}

#choicePayment {
    display: flex;
}

#chosenPayment{
    display: none;
}

#showABAPayment{
    display: flex;
}

#creditCardPayment{
    display: none;
}
#showCreditCardPayment{
    display: flex;
}